body {
  padding-top: 40px;
}
.nav-container {
  max-width: 1000px;
}
#home {
  background-color: blue;
}

#about {
  background: url("https://farm7.staticflickr.com/6181/6159118656_42ea72b2c0_b.jpg") no-repeat center center fixed;
  background-size: cover;
}

#portfolio {
  background-color: green;
  background-size: cover;
}

.pane {
  min-height: 850px;
  padding-top: 60px;
  margin-top: -60px;
}
.pane-content {
  max-width: 1000px;
  margin: auto;
}

.project-container {
  text-align: center;
}
.project {
  display: inline-block;
  position: relative;
  background-color: hsla(180, 100%, 0%, 0.7);
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  width: 300px;
  height: 300px;
  //border: 1px solid hsla(0, 0%, 30%, 1);
  box-shadow: 4px 4px 2px 1px hsla(0, 0%, 0%, 0.6);
}

.project img {
}

.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 15px;
  text-align: left;
  color: #fff;
  background: linear-gradient(to bottom,
    hsla(180, 0%, 0%, 0),
    hsla(180, 0%, 0%, 0.6) 35%,
    hsla(180, 0%, 0%, 0.8));
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}
